# Core ML Framework
torch==2.4.1+cu121
torchvision==0.19.1
pytorch-lightning==2.4.0
torchmetrics==1.4.2

# Segmentation & Pretrained Backbones
segmentation-models-pytorch==0.3.4
timm==0.9.7  # covers most pretrained models

# Image Augmentation & Processing
albumentations==1.4.17
opencv-python==4.10.0.84
pillow==10.4.0

# Utilities
numpy==2.1.1
scipy==1.14.1
pyyaml==6.0.2
matplotlib==3.9.2
tqdm==4.66.5
